.callback-widget-phone-leads {
    display: flex;
}

.callback-widget-phone-leads-img,
.callback-widget-phone-leads-description {
    width: 50%;
}

.callback-widget-phone-leads-img {
    display: flex;
    justify-content: center;
}

.callback-widget-phone-leads-description {
    padding: 33px 60px 46px;
}

.callback-widget .features-form-title {
    width: 660px;
}

@media (max-width: 767.98px) {
    .callback-widget-phone-leads {
        flex-direction: column-reverse;
        align-items: center;
    }

    .callback-widget-phone-leads-img,
    .callback-widget-phone-leads-description {
        width: 100%;
    }

    .callback-widget-phone-leads-description {
        padding: 0;
    }

    .callback-widget-phone-leads-description h2 {
        margin-bottom: 20px;
    }

    .callback-widget .features-form-title {
        width: auto;
    }
}
