.timeline-features {
    height: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 80px;
}

.timeline-features-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
    margin-top: 180px;
}

.timeline-features-item.column-reverse {
    flex-direction: column-reverse;
    margin-bottom: 180px;
}

.timeline-features-item .number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.timeline-features-item .description {
    width: 160px;
}

.timeline-features-item:not(:last-child):after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    height: 1px;
    border-radius: 1px;
    top: 20px;
    left: 43px;
    width: calc(100% - 46px);
}

.ae .timeline-features-item:not(:last-child):after {
    left: inherit;
    right: 43px;
}

.timeline-features-image1,
.timeline-features-image2,
.timeline-features-image3 {
    position: absolute;
    left: -200px;
    top: -170px;
}

.ae .timeline-features-image1,
.ae .timeline-features-image2,
.ae .timeline-features-image3 {
    left: inherit;
    right: -200px;
}

.timeline-features-image2 {
    top: 80px;
}

.callback-widget-phone-leads {
    display: flex;
}

.callback-widget-phone-leads-img,
.callback-widget-phone-leads-description {
    width: 50%;
}

.callback-widget-phone-leads-img {
    display: flex;
    justify-content: center;
}

.callback-widget-phone-leads-description {
    padding: 33px 60px 46px;
}

.callback-widget .features-form-title {
    width: 660px;
}

@media (max-width: 992px) {
    .timeline-features {
        height: auto;
        flex-direction: column;
        gap: 80px;
        margin-top: 0;
    }

    .timeline-features-item {
        width: 100%;
        flex-direction: row;
        margin-top: 0;
        gap: 20px;
    }

    .timeline-features-item .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding-top: 10px;
        gap: 20px;
    }

    .timeline-features-image1,
    .timeline-features-image2,
    .timeline-features-image3 {
        position: static;
    }

    .timeline-features-item.column-reverse {
        flex-direction: row;
        margin-bottom: 0;
    }

    .timeline-features-item:not(:last-child):after {
        width: 1px;
        top: 44px;
        left: 20px;
        height: calc(100% + 32px);
    }

    .ae .timeline-features-item:not(:last-child):after {
        left: inherit;
        right: 20px;
    }
}

@media (max-width: 767.98px) {
    .callback-widget-phone-leads {
        flex-direction: column-reverse;
        align-items: center;
    }

    .callback-widget-phone-leads-img,
    .callback-widget-phone-leads-description {
        width: 100%;
    }

    .callback-widget-phone-leads-description {
        padding: 0;
    }

    .callback-widget-phone-leads-description h2 {
        margin-bottom: 20px;
    }

    .callback-widget .features-form-title {
        width: auto;
    }
}
