.callback-widget-work {
    height: 400px;
    display: flex;
    position: relative;
    gap: 40px;
    margin-top: 80px;
}

.callback-widget-work-item {
    position: relative;
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 180px;
}

.callback-widget-work-item:nth-child(3),
.callback-widget-work-item:nth-child(4) {
    flex-direction: column-reverse;
    margin-bottom: 180px;
}

.callback-widget-work-item .number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.callback-widget-work-item:not(:last-child):after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    height: 1px;
    border-radius: 1px;
    top: 20px;
    left: 43px;
    width: calc(100% - 6px);
}

.ae .callback-widget-work-item:not(:last-child):after {
    left: inherit;
    right: 43px;
}

.callback-widget-image1,
.callback-widget-image2,
.callback-widget-image3 {
    position: absolute;
    left: -200px;
    top: -175px;
}

.ae .callback-widget-image1,
.ae .callback-widget-image2,
.ae .callback-widget-image3 {
    left: inherit;
    right: -200px;
}

.callback-widget-image2 {
    top: 80px;
}

.callback-widget-phone-leads {
    display: flex;
}

.callback-widget-phone-leads-img,
.callback-widget-phone-leads-description {
    width: 50%;
}

.callback-widget-phone-leads-img {
    display: flex;
    justify-content: center;
}

.callback-widget-phone-leads-description {
    padding: 33px 60px 46px;
}

.callback-widget .features-form-title {
    width: 660px;
}

@media (max-width: 992px) {
    .callback-widget-work {
        height: auto;
        flex-direction: column;
        gap: 80px;
        margin-top: 0;
    }

    .callback-widget-work-item {
        width: 100%;
        flex-direction: row;
        margin-top: 0;
        gap: 20px;
    }

    .callback-widget-work-item .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        gap: 20px;
    }

    .callback-widget-image1,
    .callback-widget-image2,
    .callback-widget-image3 {
        position: static;
    }

    .callback-widget-work-item:nth-child(3),
    .callback-widget-work-item:nth-child(4) {
        flex-direction: row;
        margin-bottom: 0;
    }

    .callback-widget-work-item:not(:last-child):after {
        width: 1px;
        top: 44px;
        left: 20px;
        height: calc(100% + 32px);
    }

    .ae .callback-widget-work-item:not(:last-child):after {
        left: inherit;
        right: 20px;
    }
}

@media (max-width: 767.98px) {
    .callback-widget-phone-leads {
        flex-direction: column-reverse;
        align-items: center;
    }

    .callback-widget-phone-leads-img,
    .callback-widget-phone-leads-description {
        width: 100%;
    }

    .callback-widget-phone-leads-description {
        padding: 0;
    }

    .callback-widget-phone-leads-description h2 {
        margin-bottom: 20px;
    }

    .callback-widget .features-form-title {
        width: auto;
    }
}
