.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.features_item:nth-child(1),
.features_item:nth-child(4) {
    grid-row: span 2 / auto;
}

.features_item:nth-child(3) {
    grid-row: 3/4;
}

.features-block-title {
    width: 560px;
}

.features_item {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}

.features-voicemail .features_item:nth-child(1) .features_text,
.features-voicemail .features_item:nth-child(4) .features_text {
    margin-bottom: 20px;
}

.features-callrecording .features_item:nth-child(1) .features_text {
    margin-bottom: 16px;
}

.features-voice-greeting .features_item {
    grid-row: auto;
}

.features_title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}

.features_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    opacity: .5;
}

.features_images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gradient-violet {
    background: linear-gradient(263.63deg, #E60050 -112.5%, #5D6AE8 100%);
}

.gradient-violet-light {
    background: linear-gradient(262.73deg, #F38478 -103.61%, #5D6AE8 100%);
}

.gradient-pink {
    background: linear-gradient(262.52deg, #E60050 0%, #5D6AE8 218.45%);
}

.gradient-pink-light {
    background: linear-gradient(259.9deg, #F38478 0.02%, #5D6AE8 212.67%);
}

.gradient-blue {
    background: linear-gradient(78.88deg, #5D6AE8 0%, #00D2FE 220.2%);
}

.gradient-blue-light {
    background: linear-gradient(79.94deg, #5D6AE8 -112.82%, #00D2FE 100%);
}

/*features-with-form*/
.features-form-container {
    display: flex;
    gap: 40px;
}

.features-form-title {
    width: 560px;
}

.features-form-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.features-form-item {
    width: 50%;
    padding: 20px 40px;
}

.features-form-item img {
    margin-bottom: 20px;
}

.features-form-item_title {
    margin-bottom: 8px;
}

.features-form_form {
    width: 380px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}

@media (max-width: 1200px) {
    /*features-with-form*/
    .features-form-item {
        padding: 20px;
    }
}

@media (max-width: 767.98px) {
    .features-block-title {
        width: auto;
    }

    .features {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .features_item {
        padding: 40px 20px;
    }

    .features_item:nth-child(-n+4) {
        grid-row: auto;
    }

    .features_item:nth-child(3) {
        order: 1;
    }

    /*features-with-form*/
    .features-form-container {
        flex-direction: column;
    }

    .features-form-title {
        width: auto;
    }

    .features-form-item {
        width: auto;
        padding: 20px;
    }

    .features-form_form {
        width: auto;
        height: 604px;
    }
}
