.body-inner_wrapper {
    width: 1180px;
    margin: 0 auto;
}

section {
    margin: 80px 0;
}

@media (max-width: 767.98px) {
    section {
        margin: 60px 0;
    }

    .body-inner_wrapper {
        width: auto;
        padding: 0 20px;
    }
}
